{% extends 'base.html.twig' %}

{% block title %}Treezor test - Welcome
{% endblock %}

{% block body %}

	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue sur Treezor test</h1>
			<p class="lead">this application allows to view modify and delete users.</p>
		</div>
	</div>
{% endblock %}
